@import "abstract/variables";
@import "bootstrap/scss/bootstrap.scss";
@import "abstract/base";

.link {
    color: blue;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
    line-height: 1.5rem;
    margin: 0;
}

.link:hover {
    text-underline-offset: 3px;
    text-decoration: underline;
}
